<h1> Create an article </h1>


<%= form_for @article do |f| %>

<p>
  
  <%=f.label :title %><br/>
  <%= f.text_field :title %>
  
</p>

<p>
  
  <%=f.label :description %><br/>
  <%= f.text_area :description %>
  
</p>

<p>
  <%= f.submit %>
</p>



<% end %>